/* Screen */
*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
}
.calcScreen{
    background: #2d2829;
    color: white;
    width: 17rem;
    padding: 1rem;
    text-align: end;
    border-radius: 30px;
    margin-bottom: 1rem;

}
/* Buttons*/
.numberButton{
    background: #0b3062;
    color: white;
    border-radius: 50%;
    padding: 1.5rem;
}
.numberButtonCon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 12rem;
    margin: auto;
}

.specialButton{
    background: #2061b0;
    color: white;
    border-radius: 50%;
    padding: 1.5rem;
}

.specialButtonCon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 13rem;
}

.operatorButton{
    background: #3db5e5;
    color: white;
    border-radius: 50%;
    padding: 1.5rem;
}

.operatorButtonCon{
    justify-content: space-around;
    width: 13rem;
  
}

/* Screen Background? */
.calcContainer{
    background: #89b2fd;
    width: 19rem;
    border: 1px solid #be4a4a;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.7rem;
    margin: 0 auto;
}

.calcButtons{
    display: flex;
}

/* Direct Changes */

.img-logo{
    width: 80px;
    margin-left: 15px;
}
.calulatorLogo{
    margin-top: 1rem;
}

/* Edit 0 number Button */
/* width 8rem,, borderradius 2rem */